html {
    text-align: center;
    padding-top: 1em;
    background: gainsboro;
}
button {
    padding: 1em,1.2em;
    background: #7C758A;
    color:white;
    font-size:20px;
    border-radius: .3em;
    border: none;
    border-bottom: 4px solid #1b1c47;
    cursor:pointer
}